body{
    background-color: rgba(228, 228, 228, 0.699);
}
h2{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}
p{
    margin-left: 25px;
    font-size: 25px;
    font-family: cursive;
}
.text hr{
    margin-top: 100px;
}
.text a{
    margin-left: 10px;
    text-decoration: none;
}